<div class="width-100 height-100">
  <!-- Display the correct viewer depending on the dataset type -->
  <app-relational-schema-viewer 
      *ngIf="dataset.type == DatasetType.Relational" 
      [dataset]="dataset" 
      [mode]="mode"
      [colors]="colors">
  </app-relational-schema-viewer>
  <app-object-schema-viewer 
      *ngIf="dataset.type == DatasetType.ObjectCollection" 
      [dataset]="dataset" 
      [datasets]="datasets"
      [mode]="mode" 
      [colors]="colors">
  </app-object-schema-viewer>
  <div class="width-100 height-100" style="display: flex; align-items: center; justify-content: center;" 
    *ngIf="dataset.type != DatasetType.ObjectCollection && dataset.type != DatasetType.Relational">
    <div class="mat-title">
      No schema preview available
    </div>
  </div>
</div>