@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../styles.scss' as theme;

$color-config:  mat.get-color-config(theme.$theme);
$warn-palette: map.get($color-config, 'warn');

.error-text
{
  font-weight: bold;
  color:  mat.get-color-from-palette($warn-palette, main);
}