<h1 mat-dialog-title>Session terminated</h1>
<div mat-dialog-content style="max-width: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div>
    Your session has been terminated due to inactivity. 
    You can download your files below and create a new session at the start screen of the playground.
  </div>
 
  <button class="download" style="max-width: 120px; margin-top: 15px" (click)="downloadFiles()" mat-raised-button>
    Download files
  </button>
</div>
<div style="margin-top: 12px; display: flex; justify-content: flex-start; align-items: center">
  <button mat-raised-button style="margin-right: 15px;" [disabled]="!filesDownloaded && !goBackWithout" (click)="goBack()">Go Back</button>
  <mat-checkbox (change)="goBackWithoutChanged($event.checked)">Go back without downloading my files</mat-checkbox>
</div>